@page
@model EndModel
@inject global::Shared.CocaBotPoolContext db;

@{
    ViewData["Title"] = "End";
}

<meta property="og:title" content="End">

<body>
    <center><h1 class="text-light">Successfully Registered! You are the @db.Users.Count()th user!</h1></center>
    <center><h2 class="text-light">You can close this now!</h2></center>
</body>