@page "/pew"
@model IndexModel

@{
    ViewData["Title"] = "PEW!";
}

<meta property="og:title" content="PEW">

<div class="text-center">

<h1 class="text-light">Special Annoucement this night >:)</h1>

<img src="https://cdn.discordapp.com/attachments/670343597190807555/903478219238436904/SP_4PM.png" alt="Wanting a change they assessed how form comes around">

</div>