@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}

<meta property="og:title" content="Privacy">

<h1 class="text-light">@ViewData["Title"]</h1>

<p class="text-light">We only store your discord and valour id, spookvooper data and a temporary random key to identify you.</p>
